<div class="navbar bg-base-300 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-200 mt-3 w-40 p-5 shadow font-bold ml-0">
        <enlace-hover nombre="Catalog"/>
        <enlace-hover nombre="About"/>
        <button class="btn btn-xs btn-ghost bg-base-100 gap-0 w-14 mt-3" (click)="toggleTheme()">
          @if(current_theme()=="luxury"){
            <fa-icon [icon]="faMoon"/>
          }
          @if(current_theme()=="corporate"){
            <img src="sol.png" class="h-4/5">
          }
        </button>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl font-montserrat-md" routerLink="/">Drive<span class="text-primary" >| Matrix</span> </a>
    <button class="hidden md:block btn btn-sm btn-ghost bg-base-100 ml-3 gap-1 text-sm" (click)="toggleTheme()">
      @if(current_theme()=="luxury"){
        <fa-icon [icon]="faMoon"/>
      }
      @if(current_theme()=="corporate"){
        <img src="sol.png" class="h-4/5">
      }
    </button>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-bold">
      <enlace-hover nombre="Catalog" routerLink="/catalog" [queryParams]="{page: catalogPage()}" />

      <div class="bg-base-content w-0.5 mx-4 self-center justify-self-center h-7"></div>

      <enlace-hover nombre="Search" routerLink="/search">
        <fa-icon [icon]="lupa" class="cursor-pointer items-center justify-center flex"/>
      </enlace-hover>

      <div class="bg-base-content w-0.5 mx-4 self-center justify-self-center h-7"></div>

      <enlace-hover nombre="About" routerLink="/about"/>
    </ul>
  </div>
  <div class="navbar-end">
    @if (isAutenticated()) {
      <button class="btn btn-primary" (click)="authService.logout()">Logout</button>
    }
    @else {
      <button class="btn" routerLink="/login">Login</button>
    }
  </div>
</div>
