/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui"{
  themes: luxury, corporate;
}

/* FUENTES */
@font-face {
  font-family: 'montserrat-md';
  src: url('/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf');
}
@theme{
  --font-montserrat-md: 'montserrat-md',  'sans-serif';
}

:root{
  --swiper-pagination-color: yellow;
  --swiper-pagination-bullet-inactive-color: gray;
  --swiper-pagination-bullet-inactive-opacity: 0.7;
}


*{
  scrollbar-width: none;
}
