<table class="table table-zebra table-pin-rows">
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Transmission</th>
      <th>Fuel</th>
      <th>Engine</th>
      <th>DriveTrain</th>
      <th>Doors</th>
      <th>Seats</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    @for (item of paginatedData(); track $index) {
      <tr>
        <td>{{item['make']}}</td>
        <td>{{item['model']}}</td>
        <td>{{item['transmission']}}</td>
        <td>{{item['fuel']}}</td>
        <td>{{item['engine']}}</td>
        <td>{{item['drivetrain']}}</td>
        <td>{{item['doors']}}</td>
        <td>{{item['seats']}}</td>
        <td>{{item['direction']}}</td>
        @if(authService.isAuthenticated()){
          <td><button class="btn btn-sm btn-accent" routerLink="/vehicle" [queryParams]="{vin:item['vin']}" >Más...</button></td>
        }
      </tr>
    }
  </tbody>
</table>
