<main class="w-full h-full grid md:grid-cols-2 gap-7">
  @for (item of paginatedData(); track $index) {
    <div
      class="card md:card-side bg-base-300 shadow-sm cursor-pointer"
      [routerLink]="authService.isAuthenticated() ? '/vehicle' : null"
      [queryParams]="authService.isAuthenticated() ? { vin: item['vin'] } : null"
      [class.pointer-events-none]="!authService.isAuthenticated()"
    >
      <figure>
        <img
          [src]="imageList()[$index]"
          class="w-full md:h-60"
        >
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{item['make']}} {{item['model']}}
          @if(authService.isAuthenticated()){
            <button class="flex gap-5 ml-auto">
              <div>{{item.price}}€</div>
              @if (inWishlist()[$index]) {
                <fa-icon [icon]="fullHeart" class="cursor-pointer"/>
              }@else {
                <fa-icon [icon]="emptyHeart" class="cursor-pointer"/>
              }
            </button>
          }
        </h2>
        <p class="font-bold">{{item['transmission']}}, {{item['fuel']}}, {{item['engine']}}, {{item['drivetrain']}}.</p>
        <p class="font-bold text-primary">Doors: {{item['doors']}}, Seats: {{item['seats']}}</p>
        <p class="font-bold font-montserrat-md text-secondary bg-secondary-content rounded-2xl flex justify-center items-center text-center">{{item['direction']}}</p>
        <div class="card-actions justify-end">
        </div>
      </div>
    </div>
  }
</main>
