@if (productos().length>0) {
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>Name</th>
          <th>Cuantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of productos(); track $index) {
          @if(carrito()[$index]['cuantity']>0){
            <tr>
              <td>{{item.make ? item.make : ''}} {{item.model ? item.model : ''}} </td>
              <td> {{carrito()[$index]['cuantity'] ? carrito()[$index]['cuantity'] : 0}} </td>
              <td class="md:flex gap-4">
                <button class="btn btn-sm md:btn-md btn-primary font-bold" (click)="cartService.add({'vehicle_vin':item.vin!,'cuantity':1})" > <fa-icon [icon]="plus"/> </button>
                <button class="btn btn-sm mt-3 md:mt-0 md:btn-md btn-warning font-bold" (click)="remove(item.vin!)" > <fa-icon [icon]="minus"/> </button>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <div class="flex gap-5 absolute bottom-5 right-5">
    <button class="btn btn-secondary p-5" (click)="limpiar()" >Limpiar carrito</button>
    <button class="btn btn-success p-5" (click)="comprar()">Comprar</button>
  </div>

}@else {
  <h1 class="text-2xl text-success font-semibold" >Busca productos y añadelos al carrito, empieza a comprar!</h1>
}

@if(venta()!=null){
  @if(venta()){
    <div role="alert" class="absolute bottom-5 right-5 alert alert-success">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Articulos comprados!</span>
    </div>
  }
  @else {
    <div role="alert" class="absolute bottom-5 right-5 alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>Error! No se ha realizado la venta.</span>
    </div>
  }
}
