<div class="flex flex-col h-full">
  <div class="flex flex-col pt-2 pl-2 shrink-0">
    <div class="flex gap-10 mb-4">
      <label class="select">
        <span class="label"> <fa-icon [icon]="lupa" /> Filter:</span>
        <select (change)="onChange($event)" #filtro>
          <option value="make" selected>Make</option>
          <option value="model">Model</option>
          <option value="transmission">Transmission</option>
          <option value="fuel">Fuel</option>
          <option value="engine">Engine</option>
          <option value="drivetrain">Drivetrain</option>
          <option value="doors">Doors</option>
          <option value="seats">Seats</option>
          <option value="location">Location</option>
        </select>
      </label>

      @if (textInputValue.includes(filtroValor()[0])){
        <input type="text" placeholder="Value..." class="input" (keyup)="setearValorInput($event)" (keyup.enter)="buscar()" #valorInput>
      }
      @else if (numberInputValue.includes(filtroValor()[0])) {
        <input type="number" class="input" (keyup)="setearValorInput($event)" (keyup.enter)="buscar()" #valorInput>
      }
      @else{
        <select class="select" (change)="setearSelect($event)" >
          @for (item of filtroValor()[1]; track $index) {
            <option [value]="item">{{item}}</option>
          }
        </select>
      }
      <button (click)="buscar()" class="btn btn-primary btn-sm">Buscar</button>
    </div>
  </div>

  @if (dataList().length>0) {
    <div class="flex-1 min-h-0 overflow-y-auto border-t">
      <cars-table-component [dataList]="dataList()" [pagination]="true" [page]="paginaActual()"/>
    </div>

    <div class="join grid grid-cols-2 p-2 border-t shrink-0">
      <button class="join-item btn btn-primary" (click)="previousPage()">Previous page</button>
      <button class="join-item btn btn-secondary" (click)="nextPage()" >Next</button>
    </div>
  }@else if(buscado()) {
    <h1 class="text-error font-bold text-2xl mt-20 no-select">No hay resultados.</h1>
  }@else {
    <h1 class="text-primary font-bold text-2xl mt-20 no-select">Busca entre varios productos con todos los filtros de los que disponemos!!</h1>
  }
</div>
