<ul class="list bg-base-300 rounded-box shadow-md">

  @for (item of purchases(); track $index) {
    <li class="list-row flex flex-col gap-2">
      <!-- Fila principal -->
      <div class="md:flex items-center gap-4">
        <div>
          <img [src]="imageList()[$index]" alt="imagen" class="h-30" />
        </div>

        <div class="flex-1">
          <div class="font-bold font-montserrat-md text-2xl">
            {{ item.vehicle.make }} {{ item.vehicle.model }}
          </div>
        </div>

        <div>
          {{ ventas()[$index]['date'] | date }}
        </div>
      </div>

      @if (!item.rated) {
        <app-valoration [vehicle_vin]="item.vehicle.vin!" [tipe]="1" />
      }

    </li>
  }
</ul>
