<div class="flex flex-col md:flex-row gap-10">
  <form class="flex flex-col gap-6 md:w-1/2 p-5 md:p-10 bg-base-300 rounded-2xl" [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit()">
    <h1 class="text-center font-bold text-2xl">Actualizar Perfil</h1>
    <label class="input input-bordered w-full">
      <fa-icon [icon]="userIcon" class="text-2xl"></fa-icon>
      <input type="text" formControlName="nombre"/>
    </label>

    <label class="input input-bordered w-full">
      <fa-icon [icon]="emailIcon" class="text-2xl"></fa-icon>
      <input type="email" formControlName="email"/>
    </label>

    <label class="input input-bordered w-full">
      <fa-icon [icon]="passwordIcon" class="text-2xl" />
      <input type="password" formControlName="pass" placeholder="Nueva contraseña">
    </label>
    <button type="submit" class="btn btn-md btn-primary mt-auto">Update Profile</button>
  </form>
  <div class="md:w-1/2 bg-primary text-base-300 p-4 md:p-10 rounded-2xl">
    <h1 class="text-center font-bold text-2xl">Mis Valoraciones</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-5 overflow-y-scroll max-h-85">
      @for (valoracion of user()?.valorations; track $index) {
        <app-valoration [vehicle_vin]="valoracion.vehicle_vin" [tipe]="2" [valorationElement]="valoracion" />
      }
    </div>
  </div>
</div>

@if (formHasError()) {
  <div role="alert" class="absolute right-5 bottom-5 alert alert-error text-md">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Porfavor revise la informacion ingresada</span>
  </div>
}

@if(profileUpdated()){
  <div role="alert" class="absolute bottom-5 right-5 alert alert-success">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Perfil Actualizado!</span>
  </div>
}
